* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: bisque;
}


/* drum-machine */

#drum-machine {
    width: 680px;
    height: 440px;
    background-color: dimgrey;
    border: 7px solid silver;
    padding: 45px 35px;
    border-radius: 5px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* lower */

#lower-panel {
    width: 100%;
    height: 75%;
    background-color: 	#2F4F4F;
    display: flex;
    justify-content: space-between;
}

/* lower-left drumpads*/

#drum-pads {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width:50%;
    height: 100%;
    padding: 5px;
}

.pad-row {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-between;
}

.drum-pad {
    background-color: cadetblue;
    width: 30%;
    border-radius: 7px;
    text-align: center;
    padding-top: 10%;
    cursor: pointer;
}


/* lower-right info panel */

#info-panel {
    width: 48%; 
    height: 100%;
    padding: 10px;
    background-color: #2F4F4F; 
    color: white; 
    overflow-y: auto;
}


/* displays */
#displays {
    width: 100%;
    height: 17%;
    
    display: flex;
    justify-content: space-between;
}


#displays #display, #displays #volume-bars {
    background-color: #00351c;
    width: 49.5%;
    color: ghostwhite;
    text-align: center;
}


/* volume display */
#volume-bars {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: #00351c;
}

.volume-bar {
    width: 9%;
    height: 100%;
    background-color: #00351c; /* Off state background color */
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.volume-bar.on {
    background-color: ghostwhite; /* On state background color */
}

